<%= form_for @house do |f| %>
<p>
  <%= f.label :air_url %>
  <%= f.text_field :air_url, :autofocus => true, :class => 'form-control' %>
</p>

<p>
  <%= f.label :image %>
  <%= f.text_field :image, :class => 'form-control' %>
</p>

<p>
  <%= f.label :street %>
  <%= f.text_field :street, :class => 'form-control' %>
</p>
<p>
  <%= f.label :suburb %>
  <%= f.text_field :suburb, :class => 'form-control' %>
</p>
<p>
  <%= f.label :region %>
  <%= f.text_field :region, :class => 'form-control' %>
</p>
<p>
  <%= f.label :state %>
  <%= f.text_field :state, :class => 'form-control' %>
</p>
<p>
  <%= f.label :postcode %>
  <%= f.text_field :postcode, :class => 'form-control' %>
</p>
<p>
  <%= f.label :country %>
  <%= f.text_field :country, :class => 'form-control' %>
</p>

<%= f.submit :class => 'btn btn-primary' %>

<% end %>