<%= form_for @amenity do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, :class => 'form-control' %>
  <%= f.label :info %>
  <%= f.text_field :info, :class => 'form-control' %>
</p>

<%= f.submit :class => 'btn btn-primary' %>

<% end %>