<h1>New suburb facts</h1>

<%= form_for @suburb_fact do |f| %>
<p>
  <%= f.label :fact %>
  <%= f.text_field :fact %>
    <%= f.label :link %>
  <%= f.text_field :link %>
</p>
<!-- <p>
  <%= f.label :fact %>
  <%= f.text_field :fact %>
    <%= f.label :link %>
  <%= f.text_field :link %>
</p>
<p>
  <%= f.label :fact %>
  <%= f.text_field :fact %>
    <%= f.label :link %>
  <%= f.text_field :link %>
</p>
<p>
  <%= f.label :fact %>
  <%= f.text_field :fact %>
    <%= f.label :link %>
  <%= f.text_field :link %>
</p>
<p>
  <%= f.label :fact %>
  <%= f.text_field :fact %>
    <%= f.label :link %>
  <%= f.text_field :link %>
</p> -->

<%= f.submit %>

<% end %>