<%= form_for @transport_link do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true, :class => 'form-control', :placeholder => "Train"  %>
  <%= f.label :info %>
  <%= f.text_field :info, :class => 'form-control', :placeholder => "www.sydneytrains.com.au"   %>
</p>

<%= f.submit "Save and continue", :class => 'btn btn-primary' %>

<% end %>