<!DOCTYPE html>
<html>
<head>
  <title>Welcome to airguidebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <%== authentication_menu %>
  </ul>
</nav>

  <p>
    <% if flash[:notice].present? %>
  </p>
  <p>
    <%= flash[:notice] %>
  </p>
  <% end %>

<%= yield %>

</body>
</html>
